.form-advanced {

    ::placeholder {
        color: gray;
    }

    .input-text {
        text-align: left;
        margin-top: 1px;
    }

    .flex-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .input-submit {
        margin-left: 0;
        margin-right: 0;
        background: #8ab4f8;
    }
}
