.flex-container {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    
    // Every child
    * {
        color: white;
        display: block;
        font-size: 16px;
    }
    
    .input-text {
        border-radius: 24px;
        width: 100%;
        padding: 12px 30px;
        text-align: center;
        background: #4d5156;
        
        &:hover {
            background: #5f6368;
        }
        
        &:focus {
            background: #303134;
            border-color: #202124;
            // Remove the outline border thing
            outline: none;
        }
    }
    
    .input-submit {
        display: block;
        // min-width so when i put more text into it it resizes
        min-width: 30%;
        border-radius: 4px;
        padding: 8px 16px;
        margin: 10px auto;
        background: #303134;
        cursor: pointer;
    }

}

@media (min-width: 600px) {
    form > .input-text {
        width: 85%;
    }
}

