html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 90px;
    color: white;
}